@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Libre Franklin";
  src: url("../../assets/fonts/LibreFranklin-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/assets/fonts/LibreFranklin-SemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../../assets/fonts/LibreFranklin-Medium.woff2") format("woff2"),
    url("../../assets/fonts/LibreFranklin-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../../assets/fonts/LibreFranklin-Regular.woff2") format("woff2"),
    url("../../assets/fonts/LibreFranklin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../../assets/fonts/LibreFranklin-ExtraBold.woff2") format("woff2"),
    url("../../assets/fonts/LibreFranklin-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../../assets/fonts/LibreFranklin-Bold.woff2") format("woff2"),
    url("../../assets/fonts/LibreFranklin-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../../assets/fonts/LibreFranklin-Light.woff2") format("woff2"),
    url("../../assets/fonts/LibreFranklin-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "potro_sans";
  src: url("../../assets/fonts/potro_sans_bangla_regular-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/potro_sans_bangla_regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "potro_sans";
  src: url("../../assets/fonts/potro_sans_bangla_bold-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/potro_sans_bangla_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  font-family: "Libre Franklin";
}

/* menu top component  */
@layer components {
  .nav__link {
    @apply px-[16px] py-4 inline-block text-black lowercase text-sm font-[600] duration-500 hover:text-black/60 pl-0 pr-8;
  }
  .nav__link__mobile {
    @apply px-[16px] py-3 inline-block text-black font-bold lowercase text-sm duration-500 hover:text-black/60 pl-0 pr-10;
  }
  .title {
    @apply text-[20px] md:text-[26px] font-porto mb-4 inline-block font-thin text-black/90 hover:underline hover:underline-offset-8;
  }
}
