@font-face {
    font-family: 'Libre Franklin';
    src: url('LibreFranklin-SemiBold.woff2') format('woff2'),
        url('LibreFranklin-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('LibreFranklin-Medium.woff2') format('woff2'),
        url('LibreFranklin-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('LibreFranklin-Regular.woff2') format('woff2'),
        url('LibreFranklin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('LibreFranklin-ExtraBold.woff2') format('woff2'),
        url('LibreFranklin-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('LibreFranklin-Bold.woff2') format('woff2'),
        url('LibreFranklin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('LibreFranklin-Light.woff2') format('woff2'),
        url('LibreFranklin-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

